body
{
	padding-top: 56px;
}

.carouselImage
{
	width: 100%;
	height: 100%;
}

.cardImage
{
	width: 100%;
}

.cardContainer
{
	margin-top: 10px;
}

#PostImageBanner
{
	width: 100%;
	margin-bottom: 35px;
}

#PostSnapshot
{
	margin-bottom: 35px;
}

.postArticleImage
{
	width: 75%;
	margin-left: 12.5%;
}

#PostLinksHeader
{
	margin-top: 35px;
}