body
{
	padding-top: 56px;
}

#HomeSection
{
	background: #e74c3c;
    color: white;
    padding: 0;
}

#JumbotronImage
{
	width: 100%;
}

.jumbotronTextOnImages
{
	position: absolute;
	width: 100%;
}

#JumbotronHeading
{
	margin-top: 20%;
}

.teamMemberContainer
{
	padding: 5px;
}

.teamMemberImage
{
	margin-bottom: 10px;
}

